<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>APPOINTMENT Scheduler</title>
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");
            function updateAppointment(id) { 
                console.log("Came") 
                fetch(`/${id}/edit`, {                
                method: "put",
                headers: { 
                    "Content-Type": "application/json" ,
                },
                body: JSON.stringify(
                    {
                        "_csrf": token,
                        "newName" : document.getElementById("newName"),
                    }
                )
            })
            .then((res) => {
                if(res.ok){
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err)); 
        }        
    </script>
</head>
<body class="bg-blue-300">
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h1 class="text text-red-600 text-lg" style="font-size: larger;">Update Event name <b> <%= currName %> </b>  to : </h1>
            <form action="/appointments/<%=id%>/edit" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <br>
                <input type="hidden" name="oldName" value="<%= currName %>"> <br>
                <input type="text" name="newName" id="newName"> <br> <br>
                <input class="bg-rose-600 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded" type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>