<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>APPOINTMENT SCHEDULAR</title>
</head>
<body class="bg-blue-300">
    <div class="grid grid-cols-5">
        <div class="col-start-2 col-span-2">
            <h1 class="text text-red-600 text-lg" style="font-size: larger;">APPOINTMENT SCHEDULAR</h1>
            <form action="/" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                Event Name : <input type="text" name="eventName" id="eventName"> <br> <br>
                Start Time : <input type="time" name="startTime" id="startTime"> <br> <br>
                End Time : <input type="time" name="endTime" id="endTime"> <br> <br>         
                <input class="bg-rose-600 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded" type="submit" value="Schedule">
            </form>
            <br>
            <h1 class="text text-red-600 text-lg" style="font-size: larger;">Scheduled Appointments</h1>            
            <span style="color:crimson">Total Appointments Scheduled Today : <%= appointments.length %> </span>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-m text-gray-700 uppercase bg-rose-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th style="text-align: center;"> Event Name </th>
                        <th style="text-align: center;"> Start Time </th>
                        <th style="text-align: center;"> End Time </th>
                        <th style="text-align: center;"> Edit </th>                        
                        <th style="text-align: center;"> Delete </th>                        
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<appointments.length; ++i) { %>
                    <tr class="bg-gray border-b text-black dark:bg-gray-900 dark:border-gray-700">
                        <td class="px-6 py-4"> 
                            <%= appointments[i].name %>                                               
                         </td>
                        <td class="px-6 py-4"> <%= appointments[i].startTime %> </td>
                        <td class="px-6 py-4">
                            <%= appointments[i].endTime %>
                        </td>
                        <td class="px-6 py-4">
                        <a href="#" style="float:right" onclick="editAppointment(`<%= appointments[i].id %>`)" class="trash-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>                              
                        </a>
                        </td>       
                        <td class="px-6 py-4">
                            <a href="#" style="float:right" onclick="editAppointment(`<%= appointments[i].id %>`)" class="trash-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>                                                              
                            </a>
                        </td>       
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-start-4 col-span-2">
            <% if(messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <div role="alert">
                        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                          Oops!
                        </div>
                        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                          <p><%= messages.error[i] %></p>
                        </div>
                      </div>     
                <% } %>
            <% } %>
            <% if(messages.success && messages.success.length > 0)  { %>
                <% for(var i=0; i<messages.success.length; i++) { %>
                    <div role="alert">
                        <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
                          Success!
                        </div>
                        <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
                          <p><%= messages.success[i] %></p>
                        </div>
                      </div>     
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>