<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>APPOINTMENT SCHEDULAR</title>
</head>
<body class="bg-blue-300">
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <h1 class="text text-red-600 text-lg" style="font-size: larger;">APPOINTMENT SCHEDULAR</h1>
            <form action="/" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
                Event Name : <input type="text" name="eventName" id="eventName"> <br> <br>
                Start Time : <input type="time" name="startTime" id="startTime"> <br> <br>
                End Time : <input type="time" name="endTime" id="endTime"> <br> <br>         
                <input class="bg-rose-600 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded" type="submit" value="Schedule">
            </form>
            <br>
            <h1 class="text text-red-600 text-lg" style="font-size: larger;">Scheduled Appointments</h1>
            Total Appointments Scheduled Today : <%= appointments.length %>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-m text-gray-700 uppercase bg-rose-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th style="text-align: center;"> Event Name </th>
                        <th style="text-align: center;"> Start Time </th>
                        <th style="text-align: center;"> End Time </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<appointments.length; ++i) { %>
                    <tr class="bg-gray border-b text-black dark:bg-gray-900 dark:border-gray-700">
                        <td class="px-6 py-4"> <%= appointments[i].name %> </td>
                        <td class="px-6 py-4"> <%= appointments[i].startTime %> </td>
                        <td class="px-6 py-4"> <%= appointments[i].endTime %> </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-start-5 col-span-2">
            <% if(messages.error && messages.error.length > 0)  { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <div role="alert">
                        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                          Oops!
                        </div>
                        <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                          <p><%= messages.error[i] %></p>
                        </div>
                      </div>     
                <% } %>
            <% } %>
            <% if(messages.success && messages.success.length > 0)  { %>
                <% for(var i=0; i<messages.success.length; i++) { %>
                    <div role="alert">
                        <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
                          Success!
                        </div>
                        <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
                          <p><%= messages.success[i] %></p>
                        </div>
                      </div>     
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>